button.option {
  border: none;
  background-color: transparent;
  padding: 9px 2px;
}

button.option:hover {
  background-color: rgba(255, 0, 0, 0.3);
}

img {
  user-select: none;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;

  height: 29px;
  border-radius: 10px;
  background-color: white;
  border: none;
  padding: 7px 7px 7px 10px;
  align-items: center;
}

.dropdown-list-container {
  position: absolute;
  width: 111px;

  padding: 10px 6px 12px 6px;

  border-radius: 10px;
  background-color: white;

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.list-item {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 8px;
}

.list-item:hover {
  background-color: #e5e5e5;
  border-radius: 8px;
}
