.bg-salmon {
  background-color: #e07c7c;
}

.bg-grey {
  background-color: #f5f5f5;
}

.bg-grey-900 {
  background-color: #9796a8;
}

.bg-white {
  background-color: #ffffff;
}

.bg-black {
  background-color: #000000;
}

.bg-black-700 {
  background-color: #3b3b3b;
}

.bg-purple {
  background-color: #585292;
}
