.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.w-518 {
  width: 518px;
}

.h-48 {
  height: 48px;
}

.gap-4 {
  gap: 4px;
}

.gap-16 {
  gap: 16px;
}

.p-todo {
  padding: 6px 20px 6px 20px;
}

.pt-42 {
  padding-top: 42px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-14 {
  margin-bottom: 14px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}
